[submodule "submodules/werkzeug"]
	path = submodules/werkzeug
	url = https://github.com/mitsuhiko/werkzeug.git
[submodule "submodules/flask"]
	path = submodules/flask
	url = https://github.com/mitsuhiko/flask.git
[submodule "submodules/jinja2"]
	path = submodules/jinja2
	url = https://github.com/mitsuhiko/jinja2.git
[submodule "submodules/itsdangerous"]
	path = submodules/itsdangerous
	url = https://github.com/mitsuhiko/itsdangerous.git
[submodule "submodules/flask-wtf"]
	path = submodules/flask-wtf
	url = https://github.com/ajford/flask-wtf
[submodule "submodules/flask-oauth"]
	path = submodules/flask-oauth
	url = https://github.com/mitsuhiko/flask-oauth.git
[submodule "submodules/oauth2"]
	path = submodules/oauth2
	url = https://github.com/simplegeo/python-oauth2.git
